fastapi
uvicorn
pydantic
langchain
langchain-openai
langchain-core
langgraph
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
pypdf
langchain-huggingface
sentence-transformers
